* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  body{
    background-color: #ffffff;
  }
  header {
    background-color: #00274d;
    height: 6rem;
  }
  .heading span {
    color: gold;
  }
  header h1 {
    color: #ffffff;
    text-align: center;
    margin: auto;
    padding: 15px;
  }
  nav ul {
    background-color: #000000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 2.5rem;
    margin-top: 1rem;
  }
  nav ul li {
    list-style: none;
  }
  nav ul li a {
    text-decoration: none;
    font-size: 18px;
    color: #ffffff;
  }
  nav ul li a:hover {
    color: #ffd700;
  }
  .main-container {
    margin-top: 3rem;
  }

  .card {
    grid-column: 1;
    border: 1px solid  rgb(189, 189, 189) ;
    width: 40rem;
    height: 35rem;
    border-radius: 15px;
  }
  .card-h2 {
    background-color: #00274d;
    text-align: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 3rem;
    padding: 10px;
    color: #ffffff;
  }
  main {
    max-width: 1450px; 
    margin: 0 auto;    
    padding: 20px;     
  }
  
  
  .div1,
  .div2 {
    display: flex;
    justify-content: space-around;
    padding: 5px;
  }
  .mypic,
  .nigeria-flag {
    width: 12rem;
    height: 12rem;
  }
  .abt-txt p {
    padding: 10px;
  }
  hr {
    width: 20rem;
    margin: auto;
  }
  .country {
    text-align: center;
  }
  .links-card {
    grid-column: 1;
    border: 1px solid  rgb(189, 189, 189);
    width: 25rem;
    height: 35rem;
    border-radius: 15px;

  }
  .about-section-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    justify-content: center;
    padding: 5px;
    width: 75%;
    margin: auto;
  }
  .links-container {
    width: 15rem;
    margin-top: 7rem;
    margin-left: 2.5rem;
  }
  .links-container ul li {
    margin-top: 1rem;
  }
  .footer-container {
    background-color: #00274d;
    height: 7rem;
    margin-top: 1rem; 
  }
  footer p {
    text-align: center;
    padding: 5px;
    font-size: 18px;
  }
  .footer-p-container {
    padding: 10px;
  }
  .highlight {
    color: #ffffff;
  }
  .lastmodified {
    color: gold;
  }