:root {
  --primary-color: #3498db; 
  --secondary-color: #2ecc71; 
  --text-color: #ffffff; 
  --font-family: "Roboto", sans-serif; 
}

header {
  height: 5rem;
  border-top: 1px solid var(--secondary-color); 
  padding: 11px;
}

main {
  max-width: 100% !important;      
}

header h1 {
  text-align: center;
  color: var(--text-color);
}

.h-border {
  background-color: var(--secondary-color);
  height: 1rem;
  width: 100%;
}

.hero img {
  height: 35rem;
  width: 100%;
  position: relative;
}

.hero-img-small-screen {
  display: none;
}

.first-hero-span {
  width: 18rem;
  height: 20rem;
  left: 5%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.data {
  width: 17rem;
  padding: 20px;
  background-color: var(--text-color);
}

.data h2 {
  background-color: var(--secondary-color);
  color: var(--text-color);
  padding: 5px;
}

.data-txt {
  display: flex;
  justify-content: center;
  font-size: 14px;
  text-indent: 11px;
  padding: 7px;
}

.hero-contents {
  height: 32rem;
  display: flex;
  left: 2%;
  justify-content: space-between;
  width: 95%;
  position: absolute;
  top: 10rem;
}

#weather {
  height: 12rem;
  position: relative;
  top: 18rem;
}

.weather-icon {
  display: flex;
}

.weather-icon img {
  display: none;
}

.weather-emoji::after {
  content: "⛅";
  font-size: 1.5rem;
}
